<app-title title="Users" />

<ul>
  @for (user of usersService.users(); track user.id) {
    <li class="flex item-center my-2 cursor-pointer">
      <img
        [srcset]="user.avatar"
        [alt]="user.first_name + ' ' + user.last_name"
        class="rounded w-14"
        width="50"
        height="50"
      >

      <a
        [routerLink]="['/dashboard/user', user.id]"
        class="mx-5 hover:underline"
      >
        {{ user.first_name }} {{ user.last_name }}
      </a>
    </li>
  } @empty {
    <li class="text-center">Cargando...</li>
  }
</ul>
